DB_CONNECT_STRING="your_database_connection_string"

CORS_ORIGIN="your_frontend_urls_seperated_by_commas"

ACCESS_TOKEN_SECRET='your_access_token_secret'
REFRESH_TOKEN_SECRET='your_refresh_token_secret'

CLIENT_URL='your_client_url'

EMAIL_USER='your_send_email'
BREVO_API_KEY='your_brevo_api_key'